<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">

                        </div>
                        <div class="pd-billboard-info">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
                        <div class="as-success-container column large-6 small-3">
                            <h2 class="as-filter-button-text">
                                Hubo un error al procesar la compra
                            </h2>
                            <a href="/">
                                <button class="mercadopago-button-error" style="font-size:2em; margin-top: 1em">
                                    VOLVER A INTENTAR
                                </button>
                            </a>



                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div role="alert" class="as-loader-text ally" aria-live="assertive"></div>

<script src="https://www.mercadopago.com/v2/security.js" view=""></script>